/***FONTS***/

$main-font-family: 'Inter', serif, sans-serif;
$primary-color: rgba(0, 0, 0, 0.6);
$header-nav-font-size: 15px;
$header-nav-font-height: 24px;
$font-style: normal;
$blue-color1: #5052FE;
$gray-color1: #7E8086;
$black-color1: #2D2D2D;